body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #252525;
}

h1,
h2 {
    font-family: serif;
}

h1 {
    font-size: 35px;
    padding-top: 0;
    padding-bottom: 40px;
}

h2 {
    text-align: left;
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 20px;
}

h3 {
    font-size: 19px;
    padding-top: 20px;
    padding-bottom: 0;
}

p,
ul,
ol {
    margin-bottom: 20px;
}

pre {
    line-height: 20px;
    page-break-inside: avoid;
    border-left: solid 5px #c8c8c8;
    background-color: #f9f9fb;
    padding: 12px 16px;
    margin-bottom: 20px;
}

a {
    color: #1a1c3e;
}

pre code {
    background: none;
    font-size: 13px;
    color: #2d2d2d;
}

code {
    font-size: 14px;
    color: #a5215d;
}

blockquote.notice,
blockquote.warning,
blockquote.caution,
blockquote.tip,
blockquote.danger,
blockquote.quote {
    border-left: solid 4px #808080;
    padding-left: 15px;
    margin: 20px 0;
}

blockquote.notice strong,
blockquote.warning strong,
blockquote.caution strong {
    font-weight: bold;
}
