<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            margin: 0;
            padding: 0;
            padding-bottom: 0.5cm;
            font-family: Georgia, serif;
            font-size: 10pt;
            color: #666;
            text-align: center;
        }
        .page-number {
            width: 100%;
            text-align: center;
        }
    </style>
    <script>
        function subst() {
            var vars = {};
            var x = document.location.search.substring(1).split('&');
            for (var i in x) {
                var z = x[i].split('=', 2);
                vars[z[0]] = unescape(z[1]);
            }
            var x = ['frompage', 'topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection'];
            for (var i in x) {
                var y = document.getElementsByClassName(x[i]);
                for (var j = 0; j < y.length; ++j) {
                    y[j].textContent = vars[x[i]];
                }
            }
            // Hide footer on first page
            if (vars['page'] === '1') {
                document.body.style.display = 'none';
            }
        }
    </script>
</head>
<body onload="subst()">
    <div class="page-number">
        <span class="page"></span>
    </div>
</body>
</html>
