@page {
    margin: 2cm;
    @bottom-center {
        content: counter(page);
        font-family: 'Georgia', serif;
        font-size: 10pt;
        color: #666;
        padding-bottom: 0.5cm;
    }
}
@page:first {
    @bottom-center {
        content: "";
    }
}
.cover-page {
    page: cover;
}
@page cover {
    @bottom-center {
        content: "";
    }
}
